header{
  background-color: #531946;
  
  a {
    color: #fff;
    
    &:hover {
      color: #095169;
    }
  }
    
}

footer {
  background-color: #30162B;
  color: #fff;
  
  a {
    color: #095169;
    
    &:hover {
      color: #fff;
    }
  }
}

feature {
  a {
    background-color: #30162B;
    color: #fff;
    
    &:hover {
      color: #531946;
    }
  }
    
}

content {
  background-color: #fff;
  color: #222;
}